body {
  background: #010012;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 96px;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 48px;
}
h4 {
    font-size: 34px;
}
h5 {
    font-size: 20px;
}
.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 850px;
}
.parallax-layer {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.layer-0 {
    z-index: 1;
    background-image: url('../basketball/triangles1.png');
}
.layer-1 {
    z-index: 5;
    background-image: url('../basketball/triangles2.png');
}
.layer-2 {
    z-index: 10;
    background-image: url('../basketball/left_player.png');
}
.layer-3 {
    z-index: 15;
    background-image: url('../basketball/2players.png');
}
.layer-4 {
    z-index: 20;
    background-image: url('../basketball/people_court.png');
}
.layer-0 > h1 {
    color: black;
    text-align: center;
    padding-top: 20%;
    font-family: 'Oswald';
    font-size: 120px;
}

#main-content {
    margin-top: 100vh;
    background: #010012;
    position: relative;
}
.content h1 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.main-text {
    padding-top: 10%;
    color: white;
    font-size: 38px;
    padding-bottom: 10%;
}

#main-button {
    margin-bottom: 20%;
    padding: 20px 40px;
    font-size: 72px;
    font-family: 'Oswald';
}

#countdown {
    font-size: 102px;
    font-family: 'Oswald';
}

.mg-top-40 {
    margin-top: 80px;
}
